#navbar {
  margin-right: 51%;
  border-right: 3px solid #5a5a5a;
}
#navbar header{
  position: fixed;
  top: 0;
  font-size: 24px;
  background-color: #f1f1f1;
  border-bottom: 1px solid #555;
  border-right: 3px solid #5a5a5a;
  width: 250px;
  text-align: center;
  padding: 16px 0px;
}
#navbar ul {
  
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 250px;
  background-color: #f1f1f1;
  position: fixed;
  border-right: 3px solid #5a5a5a;
  top: 60px;
  height: 100%;
  overflow: auto;
}
#navbar ul li:last-child {
  border-bottom: none;
}
#navbar ul li a {
  display: block; 
  color: #000;
  padding: 16px 16px;
  text-decoration: none; 
  border-bottom: 1px solid #555;
}
#navbar ul li a:hover {
  background-color: #555;
  color: white;
}
body {
  margin: 0;
}
main{
  margin-left:275px;
  padding:16px 16px;
  height:1000px; 
}

@media screen and (max-width: 800px) {
  #navbar {
    margin-right: 0%;
    border-right: 0px solid #5a5a5a;
  }
  #navbar header{
    position: relative;
    top: 0px;
    width: 100%;
    font-size: 24px;    
    text-align: center;
    padding: 16px 0px;
    border-right: 0px solid #5a5a5a;
  }
  #navbar ul {
    width: 100%;
    height: 180px;
    position: relative;
    top: 0px;  
    border-bottom: 3px solid #5a5a5a; 
    border-right: 0px solid #5a5a5a;
  
  }
  #navbar ul li a {
    text-align: center;
    float: none;
  } 
  main{
    margin-left:0;
  }   
}


